@page
@model Polygon.CMS.Pages.Media.IndexModel
@{
    ViewData["Title"] = "Media";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <h1>Media</h1>
    </div>
</div>

