@page
@model Polygon.CMS.Pages.Content.CreatePageModel

@{
    ViewData["Title"] = "Create Page";
    ViewData["PageClass"] = "page__create-page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create new @Model.ContentTypeAttribute.DisplayName</h1>

