@page
@model Polygon.CMS.Pages.Content.CreatePageModel

@{
    ViewData["Title"] = "Create Page";
    ViewData["PageClass"] = "page__create-page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create new @Model.ContentTypeAttribute.DisplayName</h1>

@*<div class="row">
    <div class="col s12">
        <div class="form-group">
            <label asp-for="PageName">Name</label>
            <input asp-for="PageName" type="text" class="form-control" id="pageName" aria-describedby="pageNameHelp" placeholder="Enter name of the Page">
            <small id="pageNameHelp" class="form-text text-muted">This will be the name of your Page as it appears in the CMS</small>
            <span asp-validation-for="PageName" class="text-danger"></span>
        </div>
    </div>
</div>*@