.modal-header {
    background: #653880;
    color: #ffffff;

    h4 {
        font-size: 1.2em;
    }
}

.modal-footer {
    button.btn-primary {
        background: #653880;
        color: #ffffff;
        border-color: #653880;

        &:hover {
            background: #432554;
        }
    }

    button.btn-close {
        background: #ddd8e6;
        border-color: #ddd8e6;
        color: #333333;
    }
}
