$table-padding: $unit 0;
$table-row-divider: solid 1px $purple-highlight;
$table-row-offset: 1 * $unit;
$table-row-highlight: #eee;
$table-text-color: $black;

$thead-row-height: 48px;

$tbody-row-height: 48px;