@import '../base'; 
@import './config';

/* Styles for the Tesseract Table */
.tesseract {
  &__table {
    display: table;
    width: 100%;
    color: $table-text-color;
    text-align: left;
    margin: $table-padding;

    th, td {
      font-size: $font-size-normal;
      position: relative;
      padding: 0 $table-row-offset;
    }
    
    .table {
     
      &__head {
        
        tr {
          height: $thead-row-height;
          background: $purple;
          color: $white;
        }
        
        th {
          font-weight: $font-weight-bold;

          &:first-letter {
            text-transform: capitalize;
          }

          &.col__select {
            width: 1 * $unit;
          }
          
          &.col__ctrl {
            &--view {
              width: $ctrl-col-width;
            }
            &--edit {
              width: $ctrl-col-width;
            }
            &--delete {
              width: $ctrl-col-width;
            }
          }
        }
      }

      &__body {
        tr {
          height: $tbody-row-height;
          line-height: $table-row-lineheight;
          border-bottom: $table-row-divider;
          td {
            button {
              width: 70px;
              
              &.btn__view {
                
              }
              
              &.btn__delete {
                background: $warning;
                
                &:hover {
                  background: $warning-highlight;
                }
              }
            }
          }
        }
      }
      
      &__foot {
        background: $light-grey;
        color: $table-text-color;
        tr {
          height: $tfoot-row-height;
          td {
            font-size: $font-size-small;
          }
        }
      }

    }   
  }
}