<!DOCTYPE html>

@{
    var bodyClass = ViewData["PageClass"];
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Polygon</title>
    <link rel="stylesheet" href="~/dist/css/bundle.css" />

</head>

<body class="@bodyClass">
    <header>
        <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col s2 no-padding">
                <partial name="_SideNavigation" />
            </div>
            <div class="col s10">
                <partial name="_Breadcrumbs" model="Model.Breadcrumb" />
                @RenderBody()
            </div>
        </div>


    </div>

    <footer>
        @RenderSection("Footer", required: false)
    </footer>

    <script src="~/dist/js/bundle.js"></script>

</body>
</html>
