@model Polygon.Core.Models.Navigation.MenuBuilder

<nav class="navbar">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="/assets/img/polygon-logo.png" alt="Polygon CMS" /></a>
        <ul class="hide-on-med-and-down">
            @{
                foreach (var menuItem in Model.MenuItems)
                {
                    <li>
                        <a href="/@menuItem.Link">@menuItem.Name</a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>