@{
    Layout = null;
}

<header class="modal-header">
    <h4 class="modal-title" id="modal-title">@ViewData["ModalTitle"]</h4>
    <button type="button" class="close" accesskey="c" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</header>
<div class="modal-body">
    @RenderBody()
</div>