nav {
    &.sidenav {
        display: block;
        width: 100%;
        background: $white;
        bottom: 0;
        height: 100%;

        .heading {
            display: block;
            font-size: $font-size_normal;
            padding: 0 0 0 (0.2 * $unit);
            border-bottom: 1px solid $lighter-grey;

            &:hover {
                background: $lightest-grey;
                cursor: pointer;
                transition: .3s ease-in;
            }

            a {
                width: 100%;
                text-decoration: none;
                color: $black;
                display: inline-block;
                line-height: 3 * $unit;

                &:hover {
                    color: $purple;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0.5 * $unit;
            list-style: none;

            li {
                font-size: $font-size-small;
            }
        }

        .collapsible__body {
            ul {
                margin: 0;
                padding: 0;

                li {
                    padding: 0.25 * $unit;

                    &:hover {
                        background: $lighter-purple;
                        color: $white;
                    }

                    a {
                        text-decoration: none;
                        color: $purple;
                    }
                }
            }
        }
    }
}
