nav {
    &.sidenav {
        display: block;
        width: 100%;
        background: $white;
        bottom: 0;
        height: 100%;

        .heading {
            display: block;
            font-size: $font-size_normal;
            padding: 0 0 0 (0.2 * $unit);
            border-bottom: 1px solid $lighter-grey;

            a {
                text-decoration: none;
                color: $black;
                display: block;
                line-height: 3 * $unit;

                &:hover {
                    color: $purple;
                    background: $lightest-grey;
                    cursor: pointer;
                    transition: .3s ease-in;
                }
            }
        }

        ul {
            margin: 0;
            padding: 0.5 * $unit;
            list-style: none;

            li {
                font-size: $font-size-small;
            }
        }

        .collapsible__body {
            ul {
                margin: 0;
                padding: 0;

                li {

                    a {
                        display: block;
                        text-decoration: none;
                        color: $purple;
                        line-height: 2 * $unit;
                        padding: 0 0 0 $unit;
                    }
                }
            }
        }
    }
}
