<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Polygon.CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        @RenderSection("Navigation", required: true)
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <environment include="Development">
        <script src="~/lib/vue/vue-dev.js"></script>
    </environment>

    <environment include="Production">
        <script src="~/lib/vue/vue.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
