@page
@model Polygon.CMS.Pages.Polygon.DashboardModel
@{
    Layout = Layouts.MainLayout;
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="~/Pages/Shared/_Breadcrumbs.cshtml" model="Model.Breadcrumb" />
}

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
        
    </div>
</div>
