$black: #333333;
$white: #ffffff;
$lightest-purple: #ddd8e6;
$lighter-purple: #bca1cc;
$purple: #653880;
$darker-purple: #3d224d;
$lighter-red: #ee7a6d;
$red: #eb3926;
$darker-red: #b82d1d;
$darkest-red: #6b322c;
$lightest-grey: #f0f0f0;
$lighter-grey: #d6d6d6;
$grey: #8F8F8F;
$darker-grey: #424242;
$lighter-green: #6fc69a;
$green: #30ba75;
$darker-green: #238755;
$darkest-green: #243b2f;
$lightest-blue: #cad5ee;
$lighter-blue: #6d8eee;
$blue: #2657eb;
$darker-blue: #1d44b8;
$darkest-blue: #11286b