$black: #333333;
$white: #ffffff;
$purple: #653880;
$purple-highlight: #ddd8e6;
$mid-purple: #7e7199;
$light-purple: #bbb8d1;
$warning: #eb3926;
$warning-highlight: #b91f00;
$light-grey: #f0f0f0;
$mid-grey: #d6d6d6;
$dark-grey: #424242;