@import "./base";
@import "./grid/component";
@import "./forms/component";

.content {
    &__caption {
        font-size: $font-size-small;
        border-radius: 0.5 * $unit;
        padding: 0.5 * $unit;
        background: $lightest-purple;
    }
}