@page
@model Polygon.CMS.Pages.Developer.IndexModel

@{
    ViewData["Title"] = "Developer";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Developer</h1>
<span class="content__caption">
    
</span>