@page
@model Polygon.CMS.Pages.Developer.JobsModel
@{
    ViewData["Title"] = "Jobs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <h1>Jobs</h1>
        <span class="content__caption">
            This feature is currently under development
        </span>
    </div>
</div>