@page
@model Polygon.CMS.Pages.Developer.Tesseract

@{
    ViewData["Title"] = "Tesseract";
    ViewData["PageClass"] = "page__developer--tesseract";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="Shared/_Breadcrumbs" model="Model.Breadcrumb" />
}

<h1>Tesseract</h1>
<span class="content__caption">
    
</span>

<ul>
    <li><button id="FireNotification">Fire Notification</button></li>
</ul>
