@page
@model Polygon.CMS.Pages.Developer.Tesseract

@{
    ViewData["Title"] = "Tesseract";
    ViewData["PageClass"] = "page__developer--tesseract";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="Shared/_Breadcrumbs" model="Model.Breadcrumb" />
}

<div class="row">
    <div class="col s12">
        <h1>Tesseract</h1>
        <span class="content__caption">
            This page enables you to test out the various Tesseract components during the CMS development process. Select one that you want
            to try from the collecion below.
        </span>

        <ul>
            <li><button id="FireNotification">Fire Notification</button></li>
        </ul>
    </div>
</div>
