@page
@model Polygon.CMS.Pages.Settings.CookieSettings

@{
    ViewData["Title"] = "Cookie Settings";
    ViewData["PageClass"] = "page__cookie-settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Cookie Settings</h1>

<partial name="Shared/Tesseract/_TesseractWysiwyg"/>