@page
@model Polygon.CMS.Pages.Settings.IndexModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="Shared/_Breadcrumbs" model="Model.Breadcrumb" />
}

<h1>Settings</h1>

<ul>
    <li><a href="/Settings/ReferenceData">Reference Data</a></li>
    <li><a href="/Settings/CookieSettings">Cookie Settings</a></li>
</ul>