@page
@model Polygon.CMS.Pages.Settings.IndexModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Settings</h1>

<ul>
    <li><a href="/Settings/ReferenceData">Reference Data</a></li>
    <li><a href="/Settings/CookieSettings">Cookie Settings</a></li>
</ul>