@page
@model Polygon.CMS.Pages.Settings.ReferenceTypes.ReferenceTypesModel
@{
    ViewData["Title"] = "ReferenceTypes";
    ViewData["PageClass"] = "page__reference-type";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="Shared/_Breadcrumbs" model="Model.Breadcrumb" />
}

<h1>ReferenceTypes</h1>

<div class="row">
    <div class="col-md-12">
        <button id="CreateReferenceType" data-url="/Settings/ReferenceTypes/CreateReferenceType" data-size="medium" data-toggle="modal" data-target="#tesseractModal" type="button" class="btn btn-primary tesseract__modal">Create</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @if (Model.ReferenceCollections.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var type in Model.ReferenceCollections)
                {
                    <tr>
                        <td>@type.Name</td>
                        <td>@type.Description</td>
                        <td><a href="/Settings/ReferenceTypes/Details/?guid=@type.Id">Details</a></td>
                        <td>Edit</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        else
        {
            <p>There are no Reference Types. You'll need to create one.</p>
        }
    </div>
</div>