/* -------------------- Colours -------------------- */

$white: #ffffff;
$black: #272727;
$black-pure: #000000;
$red-dark: #6b1c1b;

/* -------------------- Typography -------------------- */
$browser-font-context: 16;
$proxima-nova-reg: "Proxima Nova Regular", sans-serif;
$proxima-nova-light: "Proxima Nova Light", sans-serif;

$primary-font: $proxima-nova-reg;

/* -------------------- Paths -------------------- */

$imagesPath: "../images/";
$mediaPath: "../media/";
$fontsPath: "./Content/fonts/";

/* -------------------- Z-Index -------------------- */

$zIndexBehind: -1;
$zIndexDefault: 0;
$zIndexSmall: 10;
$zIndexMedium: 100;
$zIndexLarge: 1000;

/* -------------------- Breakpoints -------------------- */

// Non-mobile first

$xl: "only screen and (min-width : 1200px)";
$lg: "only screen and (max-width : 1199px)"; // 1200
$md: "only screen and (max-width : 991px)"; // 992
$sm: "only screen and (max-width : 767px)"; // 768
$sm-and-above: "only screen and (min-width : 768px)";

$ieFix: "screen and (-ms-high-contrast: active), (-ms-high-contrast: none)";