@page
@model Polygon.CMS.Pages.Settings.ReferenceData.CreateReferenceItemModel
@{
    Layout = "Shared/Tesseract/Layouts/_DrawerLayout";
    ViewData["DrawerTitle"] = "Create new Reference Item";
}

@Html.HiddenFor(m => m.ReferenceCollectionId, new { Value = Model.ReferenceCollectionId })

<div class="form-group">
    <label asp-for="ReferenceItemName">Name</label>
    <input asp-for="ReferenceItemName" type="text" class="form-control" id="referenceItemName" aria-describedby="referenceItemNameHelp" placeholder="Enter name of Reference Item">
    <small id="referenceItemNameHelp" class="form-text text-muted">This will be the name of your new Reference Item</small>
    <span asp-validation-for="ReferenceItemName" class="text-danger"></span>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>