@page
@model Polygon.CMS.Pages.Settings.ReferenceData.DeleteReferenceItemModel
@{
    Layout = "Shared/Tesseract/Layouts/_DrawerLayout";
    ViewData["DrawerTitle"] = $"Delete {@Model.ReferenceItem.Name}";
}

@Html.HiddenFor(m => m.ReferenceItem.Id, new { Value = Model.ReferenceItem.Id})

<p>Are you sure that you want to delete "@Model.ReferenceItem.Name"?</p>