@page
@model Polygon.CMS.Pages.Settings.ReferenceData.DetailsModel

@{
    ViewData["Title"] = "Details";
    ViewData["PageClass"] = "page__reference-item";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@Html.HiddenFor(m => m.ReferenceCollectionId)


<div class="row">
    <div class="col s12">
        <h1>@Model.ReferenceCollection.Name</h1><span class="content__backlink"><a asp-page="Index">Back</a></span>
        <span class="content__caption">
            @Model.ReferenceCollection.Description
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="button-group">
            <button id="CreateReferenceItem" type="button">Create</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <partial name="Shared/Tesseract/_TesseractTable"/>
    </div>
</div>

<partial name="Shared/Tesseract/_TesseractDrawer" />