@page
@model Polygon.CMS.Pages.Settings.ReferenceData.ReferenceCollectionsModel

@{
    ViewData["Title"] = "ReferenceTypes";
    ViewData["PageClass"] = "page__reference-collection";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section Navigation
{
    <partial name="Shared/_MainNavigation" model="Model.MainMenu" />
    <partial name="Shared/_Breadcrumbs" model="Model.Breadcrumb" />
}

<h1>Reference Collections</h1>

<div class="row">
    <div class="col-md-12">
        <button id="CreateReferenceCollection" data-url="/Settings/ReferenceData/CreateReferenceCollection" type="button">Create</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <partial name="Shared/Tesseract/_TesseractTable"/>
    </div>
</div>

<partial name="Shared/Tesseract/_TesseractDrawer" />