@page
@model Polygon.CMS.Pages.Settings.ReferenceData.ReferenceCollectionsModel

@{
    ViewData["Title"] = "ReferenceTypes";
    ViewData["PageClass"] = "page__reference-collection";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s12">
        <h1>Reference Collections</h1>
        <span class="content__caption">
            Here you can create Reference Collections. These are groups of reference data that you can use to populate selections on Page and Block Templates.
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="button-group">
            <button id="CreateReferenceCollection" type="button">Create</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <partial name="Shared/Tesseract/_TesseractTable" />
    </div>
</div>

<partial name="Shared/Tesseract/_TesseractDrawer" />