<div class="modal fade" id="TesseractModal" tabindex="-1" role="dialog" aria-labelledby="TesseractModal"
     aria-hidden="true">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class="modal__form"}))
    {
        @Html.AntiForgeryToken()   
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="dynamic"></div>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-close modal__close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary modal__save">Save</button>
                </footer>    
            </div>
        </div>
    }
</div>