<table class="table table-hover tesseract__table" data-url="@Model">
    <thead>
    <tr class="table__head">
        
    </tr>
    </thead>
    <tbody class="table__body">
    
    </tbody>
</table>

