<div class="tesseract__drawer">
    <form class="drawer__form" method="post">
        @Html.AntiForgeryToken()   
        <div class="drawer__container">
            <div class="drawer__heading"></div>
            <div class="drawer__content"></div>
            <div class="drawer__footer"></div>
        </div>
    </form>
</div>

