<div class="modal fade" id="tesseractModal" tabindex="-1" role="dialog" aria-labelledby="tesseractModal"
     aria-hidden="true">
    <form method="post">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </form>
</div>